name: Publish ROCK
on:
  push:
    branches:
      - '[0-9]-[a-z]+'
  workflow_dispatch:
    branches:
      - '[0-9]-[a-z]+'

jobs:
  build:
    uses: ./.github/workflows/build.yaml
  publish:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Docker
        run: |
          sudo snap install docker
          sudo addgroup --system docker; sudo adduser $USER docker
          newgrp docker
          sudo snap disable docker; sudo snap enable docker
      - name: Install skopeo
        run: |
          sudo snap install --devmode --channel edge skopeo
      - uses: actions/download-artifact@v3
        with:
          name: mongodb-rock

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Import and push to Docker Hub
        run: |
          sudo skopeo \
            --insecure-policy \
            copy \
            oci-archive:charmed-mongodb_${{ github.ref_name }}_amd64.rock \
            docker-daemon:dataplatformoci/charmed-mongodb:${{ github.ref_name }}
          docker push dataplatformoci/charmed-mongodb:${{ github.ref_name }}
